.status-button{
    background-color: rgb(195, 121, 30);
    border: 1px solid rgb(17, 17, 17);
    color: white;
    padding: 0.5em;
}

.taskCard-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}